@model _23DH111923_MyStore.Models.ViewModel.HomeProductVM
@{
    ViewBag.Title = "Customer Home Page";
    <link rel="stylesheet" type="text/css" href="~/Content/myStyle/CustomerHome.css" />
}

@*PHẦN BANNER*@
<section class="banner">
    <div class="banner-container">
        <h2 style="color: white" class="boldtext">Chào mừng đến với LongShopping</h2>
        <p style="color: white" class="boldtext">Mua sắm online với hàng triệu sản phẩm chất lượng cao</p>
        <a href="#" class="btnBanner">Bắt đầu mua sắm</a>
    
    @*PHAN TIM KIEM SAN PHAM*@
    <section class="container-fluid searchProd">
        <h2 style="color: red" class="boldtext">Tìm kiếm sản phẩm</h2>
        @using (Html.BeginForm("Index", "Home", FormMethod.Get))
        {
            <div class="form-group search-container">
                @Html.TextBoxFor(m => m.SearchTerm, new
                {
                    @class = "search-input",
                    placeholder = "Nhập tên, mô tả hoặc chủng loại sản phẩm"
                })
                <button type="submit" class="btn btn-success">Tìm kiếm</button>
            </div>
        }
    </section>
    </div>
    <hr />
    <div style="margin-top: 20px">
        @Html.Partial("_PVFeatureProduct", Model)
        @Html.Partial("_PVNewProduct", Model)
    </div>
</section>


