@model IEnumerable<_23DH111923_MyStore.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="bg-success container-fluid">DANH SÁCH DANH MỤC</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create", null, new {@class = "btn btn-primary"})
</p>
<table class="table bg-info container-fluid">
    <tr>
        <th class="bg-success col-md-4">
            TÊN DANH MỤC
        </th>
        <th class="bg-success col-md-2"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.ActionLink("Cập nhật", "Edit", new { id=item.CategoryID }, new { @class = "btn btn-primary" }) 
            @*@Html.ActionLink("Xem chi tiết", "Details", new { id=item.CategoryID }) |*@
            @Html.ActionLink("Xóa", "Delete", new { id=item.CategoryID }, new { @class = "btn btn-primary" })
        </td>
    </tr>
}

</table>
